body {
  margin: 0;
  font-family: Roboto, sans-serif;
}
@font-face {
  font-family: "Celtic Font";
  src: url("./assets/fonts/celtic_font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}